.mc6
  = div_for attachment 
    = image_tag attachment.image_url.to_s, class: 'img-responsive'
    = link_to "delete attachment", attachment_path(attachment), method: "delete", class: 'btn btn-danger btn-sm btn-block', remote: true