.mc6 
  = div_for thumbnail
    = image_tag thumbnail.thumb_url.to_s, class: 'img-responsive'
    = link_to "delete thumbnail", thumbnail_path(thumbnail), method: "delete", class: 'btn btn-sm btn-block btn-danger', remote: true