@import 'presets'

  
/* ---------- ATTACHMENTS ------------ */ 


ul.attachments-list
  list-style-type: none
  margin: 0

  li 
    margin: 40px 0
    position: relative

    img
      width: 1200px

    a.show-products > img
      left: 0
      position: absolute
      top: 20px
      height: 45px
      width: 90px

ul.attachments-thumbs

  li 
    float: left
    margin: 10px 20px 10px 0

    img
      width: 80px      