@import 'presets'

  
/* ---------- JOB BAR ------------ */ 


#job-art
  border-bottom: 1px dashed $border
  background-color: white
  top: 106px


/* ---------- JOBS GALLERY ------------ */ 


ul#job-gallery
  margin-bottom: 20px
  margin-top: 40px

  li

    h5
      text-indent: 4px

    img
      height: 190px
      width: 190px

  .thumbnail
    background-color: white

#attachments-uploads
  display: none

    
/* ---------- JOBS SHOW ------------ */ 


#view-job, #view-products, #view-client, #view-client
  border-bottom: 1px dashed $border
  border-top: 1px dashed $border
  display: none

.job-container
  padding-bottom: 30px
  padding-top: 30px
  

  p > a
    color: $link
    
#up-container
  position: relative

  img#up
    cursor: pointer
    height: 90px
    position: absolute
    right: 0
    width: 45px
    z-index: 2

#job-attachments
  position: relative

  a#buy > img
    left: 0
    position: absolute
    top: 20px
    height: 45px
    width: 90px
    z-index: 2


.edit-form
  padding: 40px
