@import 'presets'

  
/* ---------- JOB BAR ------------ */ 


#filter-bar
  background-color: white
  border-bottom: 1px dashed $border
  top: 74px

  #busca

    input#query
      background-color: transparent
      border: 0
      box-shadow: none
      text-align: right

    i
      color: #888
      font-size: 18px
      margin-top: 4px 

/* ---------- JOBS GALLERY ------------ */ 


ul#job-gallery
  margin-bottom: 20px
  margin-top: 20px

  li

    p
      margin: 4px

    img
      height: 190px
      width: 190px

  .thumbnail
    background-color: white

#attachments-uploads
  display: none

    
/* ---------- JOBS SHOW ------------ */ 


#view-job, #show-products, #view-client
  border-bottom: 1px dashed $border
  border-top: 1px dashed $border
  display: none

.job-container
  min-height: 120px
  padding-bottom: 30px
  padding-top: 30px

  p > a
    color: $link

#job-title
  position: relative
  z-index: -1

  p#title
    color: #F0F0F0
    font-size: 120px
    left: 0
    position: absolute
    top: 50px

img#up
  cursor: pointer
  height: 90px
  width: 45px
  z-index: 2

#video
  margin-bottom: 20px

#job-attachments
  position: relative

  a#buy > img
    left: 0
    position: absolute
    top: 20px
    height: 45px
    width: 90px
    z-index: 2

#random-container
  position: relative

  a#random > img
    right: 0
    position: absolute
    top: 120px
    height: 45px
    width: 90px
    z-index: 2