@import 'presets'

  
/* ---------- JOB BAR ------------ */ 


#job-art
  border-bottom: 1px dashed $border
  // border-top: 1px dashed $border
  background-color: white
  top: 106px
  // left: 4px
  // position: absolute

  ul.nav > li
    // height: 65px
    // width: 100px    

    a
      // color: white
      // font-size: 17px
      // padding: 30px 0 10px
      // text-align: center
      // text-shadow: none

      // &:hover
      //   color: $link

    a.active
      color: $link

    #nav-links
      background: url('placa.png') no-repeat center

    #nav-links-human
      background: url('people.jpg') no-repeat center 

    #nav-links-abstract
      background: url('abstract.jpg') no-repeat center 

    #nav-links-serial
      background: url('serial.jpg') no-repeat center 

    #nav-links-pattern
      background: url('pattern.jpg') no-repeat center 

    #nav-links-character
      background: url('character.jpg') no-repeat center 

    #nav-links-wall
      background: url('wall.jpg') no-repeat center 


/* ---------- JOBS GALLERY ------------ */ 


#show-jobs
  margin-bottom: 20px
  margin-top: 180px

ul#job-gallery

  li
    // height: 200px
    // position: relative
    // width: 200px

    img
      height: 190px
      width: 190px

    // a
    //   color: $link
    //   text-decoration: none
    
    // p
      // font-size: 18px
      // padding-bottom: 80px
      // padding-top: 80px
      // position: absolute
      // text-align: center
      // text-shadow: none
      // top: 100px
      // left: 8px
      // width: 190px



/* ---------- JOBS SHOW ------------ */ 


#show-job
  border-bottom: 1px dashed $border
  border-top: 1px dashed $border
  display: none

.job-container
  padding-bottom: 30px
  padding-top: 30px

#up
  text-align: right
  cursor: pointer

.edit-form
  margin-top: 100px
  padding: 40px