@import 'presets'

body
  background: url("quitanda.jpg") no-repeat fixed center
  background-size: contain
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans serif

  #ghost
    background-color: white
    height: 100%
    left: 0
    opacity: 0.9
    position: fixed
    top: 0
    width: 100%
    z-index: -2

  #shadow
    background-color: white
    height: 100%
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: -1
  

  /* ---------- HOME ------------ */ 


  #quitanda
    min-height: 600px
    min-width: 1920px
    position: relative
    text-align: center
    margin-top: -100px

  #hello, #art, #kaju, #shop, #graphic, #clients
    font-size: 30px
    position: absolute

    a
      color: $link
      text-decoration: none

      &:hover
        color: gray

  #hello
    top: 130px
    left: 572px

  #art
    bottom: 94px
    left: 774px

  #kaju
    top: 179px
    left: 996px

  #shop
    bottom: 236px
    right: 582px

  #graphic
    top: 138px
    right: 434px

  #clients
    bottom: 236px
    right: 178px

  #aerogami
    color: #B0B0B0
    text-align: center

    a
      color: $link


  /* ---------- MENU BAR ------------ */ 


  #menubar
    background-color: $base
    border-bottom: 1px dashed $border
    padding-bottom: 4px
    padding-top: 4px

    img
      margin-right: 4px
      height: 45px
      width: 45px

    img#ribbon
      height: 45px
      margin-left: -4px
      width: 90px

    a
      color: black
      font-size: 24px

      &:hover
        color: $link

    a.active
      color: $link


  /* ---------- ABOUT ------------ */ 


  #infograph
    position: relative
    width: 1920px

  #say-hello
    position: absolute
    top: 110px
    right: 110px
    width: 130px


  /* ---------- HELLO ------------ */


  #hello-container
    // background: url('girl.png') no-repeat center
    height: 440px

    input.btn-link
      color: $link
      font-size: 18px
      text-shadow: none
      text-decoration: none

      &:hover
        color: $link

    textarea, input
      background-color: transparent

  #girl
    height: 420px
    min-width: 191px

  #info
    color: black
    font-size: 20px

    p
      margin-bottom: 20px
      margin-top: 10px
      vertical-align: top

    i 
      margin-left: 6px
      margin-right: 12px

    a
      color: $link

      &:hover
        color: black

    li.active > a
      color: black

  #contact
    position: relative

  #loading
    background: url('loading.gif') no-repeat center
    height: 300px
    width: 100%
    position: absolute
    bottom: 0
    display: none
